<h1>List of Contacts</h1>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
      <tr>
        <th><%= contact.name %></th>
        <th><%= contact.number %></th>
        <th><%= contact.email %></th>
        <th><%= link_to 'Edit', edit_contact_path(contact), class: "btn btn-secondary" %></th>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Add Contact', new_contact_path, class: "btn btn-secondary" %>
