<h1> Add Contacts</h1>
<p id="notice"><%= notice %></p>

<%= form_for(@contact) do |form| %>
  <div class="field form-group">
    <%= form.text_field :name, placeholder: "Name", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :number, placeholder: "Phone Number", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.email_field :name, placeholder: "Email", class: "form-control" %>
  </div>

  <div class = "actions">
    <%= form.submit class: "btn btn-secondary"%>
  </div>
<% end %>
